extends layout.pug

block content

     section.page-section
        .container
            .product-item

                div.row
                    div.col-xl-2  
                    div.col-xl-8
                        div#map
                        div#content
                    div.col-xl-2  
                div.row
                    div.col-xl-2  
                    div.col-xl-8
                        div#osm © 
                            a(href='http://www.openstreetmap.org') OpenStreetMap und 
                            a(href='http://www.openstreetmap.org/copyright') Mitwirkende,
                            a(href='http://creativecommons.org/licenses/by-sa/2.0/deed.de') CC-BY-SA
                    div.col-xl-2  
                div.row
                    div.col-xl-2  
                    div.col-xl-8
                        h2.section-heading.mb-4
                            span.section-heading-upper Anfahrt mit dem Auto
                        ul.mb-0 •	Adresse: 72768 Reutlingen – Rommelsbach, Württemberger Str. 3
                        ul.mb-0 •	Stuttgart-Metzingen B312:  Ausfahrt Richtung Reutlingen-Rommelsbach
                        ul.mb-0 •	Stuttgart-Reutlingen B 464: Ausfahrt Richtung Reutlingen-Rommelsbach
                        ul.mb-0 •	Neckartal / Nürtingen B 297: bei Pliezhausen Abfahrt nach Reutlingen-Oferdingen
                        ul.mb-0 •	Neckartal / B27: Ausfahrt Altenburg 
                        ul.mb-0 •	Von der Stadt Reutlingen kommend der Beschilderung nach Rommelsbach folgen
                        ul.mb-0 •	Parkplätze in der Ermstalstraße: direkt am Kreisverkehr in der Ortsmitte Richtung Metzingen
                        p.mb-0 <br> 
                    div.col-xl-2
                div.row
                    div.col-xl-2  
                    div.col-xl-8
                        h2.section-heading.mb-4
                             span.section-heading-upper Anfahrt mit dem Bus
                        ul.mb-0 •	Ab Reutlingen unter den Linden/Hbhf mit den Linien 1/3/33 (Richtung Pliezhausen, Waldorfhäslach) mit der Linie X3 (Richtung Flughafen/Messe) 
                        ul.mb-0 	Ausstieg Haltestelle Rommelsbach – Mitte, direkt vor dem Haus der Praxis.
                        ul.mb-0 •	Ab Waldorfhäslach, Rübgarten, Pliezhausen mit der Linie 3/31/33 (Richtung Reutlingen)
                        ul.mb-0 	Ausstieg Haltestelle Rommelsbach–Mitte, direkt gegenüber des Hauses Württemberger Str.3
                        ul.mb-0 •	Von den anderen Stadtteilen mit den Quartiersbussen 
                        ul.mb-0 	Ausstieg Rommelsbach-Mitte, bzw. Lange Äcker oder Egertstraße, je nach Buslinie.
                        ul.mb-0 •	Ab Stuttgart – Flughafen mit der Linie X3 (Richtung Reutlingen / Pfullingen)
                        ul.mb-0 	Ausstieg Haltestelle Rommelsbach–Mitte, direkt gegenüber des Hauses Württemberger Str. 3
                    div.col-xl-2  

        script(type="text/javascript").
                drawmap();       