extends layout.pug

block content

    section.page-section.cta
      div.container
        div.row
          div.col-xl-9.mx-auto
            div.cta-inner.text-center.rounded
              h2.section-heading.mb-5
                span.section-heading-upper Rufen Sie uns an
                span.section-heading-lower Telefonsprechzeiten
              ul.list-unstyled.list-hours.mb-5.text-left.mx-auto
                li.list-unstyled-item.list-hours-item.d-flex Montag
                  span.ml-auto 9:00 Uhr - 12:00 Uhr
                li.list-unstyled-item.list-hours-item.d-flex Dienstag
                  span.ml-auto 9:00 Uhr - 12:00 Uhr
                li.list-unstyled-item.list-hours-item.d-flex Mittwoch
                  span.ml-auto 9:00 Uhr - 12:00 Uhr
                li.list-unstyled-item.list-hours-item.d-flex Donnerstag
                  span.ml-auto 9:00 Uhr - 12:00 Uhr
                li.list-unstyled-item.list-hours-item.d-flex Freitag
                  span.ml-auto 9:00 Uhr - 12:00 Uhr
                li.list-unstyled-item.list-hours-item.d-flex Samstag
                  span.ml-auto 9:00 Uhr - 12:00 Uhr
                li.list-unstyled-item.list-hours-item.d-flex Sonntag
                  span.ml-auto Geschlossen
              p.address.mb-5
                em
                  strong Württemberger Straße 3 72768 Rommelsbach, Reutlingen
              p.mb-0
                small
                  em Telefon 07121/623122
              p.mb-0
                small
                  em Telefax 07121/623122
