extends layout.pug

block content
    section.page-section
        div.container
            div.product-item
                div.product-item-title.d-flex
                    div.bg-faded.p-5.d-flex.mr-auto.rounded
                        h2.section-heading.mb-5
                            span.section-heading-upper Rufen Sie uns an
                            span.section-heading-lower Telefonsprechzeiten
    section.page-section
        .container
            ul.list-unstyled.list-hours.mb-5.text-left.mx-auto
                li.list-unstyled-item.list-hours-item.d-flex Montag
                    span.ml-auto 9:00 Uhr - 12:00 Uhr
                li.list-unstyled-item.list-hours-item.d-flex Dienstag
                    span.ml-auto 9:00 Uhr - 12:00 Uhr
                li.list-unstyled-item.list-hours-item.d-flex Mittwoch
                    span.ml-auto 9:00 Uhr - 12:00 Uhr
                li.list-unstyled-item.list-hours-item.d-flex Donnerstag
                    span.ml-auto 9:00 Uhr - 12:00 Uhr
                li.list-unstyled-item.list-hours-item.d-flex Freitag
                    span.ml-auto 9:00 Uhr - 12:00 Uhr
                li.list-unstyled-item.list-hours-item.d-flex Samstag
                    span.ml-auto 9:00 Uhr - 12:00 Uhr
                li.list-unstyled-item.list-hours-item.d-flex Sonntag
                    span.ml-auto Geschlossen
     
    section.page-section
      div.container
        div.product-item
            div.product-item-description.d-flex.mr-auto
                div.bg-faded.p-5.rounded
                    p.address.mb-5
                        strong Württemberger Straße 3, 72768 Rommelsbach, Reutlingen
                    p.mb-0
                        small
                            em Telefon 07121/623122
                    p.mb-0
                        small
                            em Telefax 07121/623122
