extends layout.pug

block content

    section.page-section.clearfix
      div.container
        div.intro
          img.intro-img.intro-img-right.img-fluid.mb-3.mb-lg-0.rounded(src='img/cornelsen.jpg', alt='Sarah Cornelsen')
          div.intro-text.intro-text-left.left-0.text-center.bg-faded.p-5.rounded
            h2.section-heading.mb-4
              span.section-heading-upper M. Sc. (Psychologie)
              span.section-heading-lower Sarah Cornelsen
            p Frau Cornelsen steht für Sie in der Telefonsprechzeit zur Verfügung. Sie nimmt am Telefon die ersten Daten auf und führt vor Beginn der Behandlung Teile der Testdiagnostik durch
            div.intro-button.mx-auto
              a.btn.btn-primary.btn-xl(href='#') Kontakt
