footer#mainFoot.footer.text-faded.text-center.py-5
    div.container
        div.row.footerrow
            div.col-lg-3.mx-auto
                p.m-0.small.footimpr Copyright © Jerg Bengel 2019
            div.col-lg-3.mx-auto
                p.m-0.small.footimpr Therapeutische Praxis für Kinder und Jugendliche
                p.m-0.small.footimpr Württemberger Straße 3
                p.m-0.small.footimpr 72768 Reutlingen-Rommelsbach
            div.col-lg-3.mx-auto
                p.m-0.small.footimpr Telefon 07121/623122
                p.m-0.small.footimpr Telefax 07121/623145  
            div.col-lg-3.mx-auto
                p.m-0.small.footimpr <a class='footimpr' href='impressum'>Impressum</a> / <a class='footimpr' href='datenschutz'>Datenschutz</a>
                   

