footer#mainNav.footer.text-faded.text-center.py-5
    div.container
        div.row
            div.col-xl-3.col-lg-4.mx-auto
                p.m-0.small Copyright © Jerg Bengel 2019
            div.col-xl-3.col-lg-4.mx-auto
                p.m-0.small 
            div.col-xl-3.col-lg-4.mx-auto
                p.m-0.small
                   a.m-0.small.footimpr(href='impressum') Impressum
