extends layout.pug

block content

    section.page-section.clearfix
      div.container
        div.intro
          img.intro-img.intro-img-left.img-fluid.mb-3.mb-lg-0.rounded(src='img/haigis.jpg', alt='Anna Haigis')
          div.intro-text.intro-text-right.text-center.bg-faded.p-5.rounded
            h2.section-heading.mb-4
              span.section-heading-upper M.A. (Soziale Arbeit)
              span.section-heading-upper Kinder- und Jugendlichenpsychotherapeutin
              span.section-heading-lower Anna Haigis
            p.mb-0 Ausbildung in Verhaltenstherapie. 
            p.mb-0 Spezifische Weiterbildung in Progressiver Muskelentspannung nach Jacobsen und Gruppentherapie.
            p.mb-0 Berufserfahrung in der Kinder- und Jugendpsychiatrie.
            p.mb-0 Mitarbeit im Forschungsprojekt Internetbasierte Psychotherapie bei Kindern und Jugendlichen mit Zwangsstörungen.
            div.intro-button.mx-auto
              a.btn.btn-primary.btn-xl(href='#') Kontakt
