extends layout.pug

block content

    section.page-section.clearfix
      div.container
        div.intro
          img.intro-img.intro-img-left.img-fluid.mb-3.mb-lg-0.rounded(src='img/hoefer.jpg', alt='Silvia Hoefer')
          div.intro-text.intro-text-right.text-center.bg-faded.p-5.rounded
            h2.section-heading.mb-4
              span.section-heading-upper Diplompädagogin
              span.section-heading-upper Kinder- und Jugendlichenpsychotherapeutin
              span.section-heading-lower Silvia Höfer
            p Ausbildung in Verhaltenstherapie und personenzentrierter Gesprächspsychotherapie. Spezifische Weiterbildungen in traumatherapeutischen Methoden nach Reddemann, EMDR, Somatic Experiencing. Darüberhinaus ausgebildet in Sandspieltherapie und hypnosystemischer Arbeit mit Kindern und Jugendlichen.
            p.mb-0 Akkreditierte Supervisorin, Ausbildungstätigkeit an verschiedenen Ausbildungsinstituten.
            div.intro-button.mx-auto
              a.btn.btn-primary.btn-xl(href='mailto:s.hoefer@praxis-hoefer-lipp.de') Kontakt
