extends layout.pug

block content

    section.page-section
      .container
        .product-item
            .product-item-title
                .bg-faded.p-5.d-flex.ml-auto.rounded
                  h2.section-heading.mb-0           
                    span.section-heading-lower Impressum
                    span.section-heading-upper Anbieterkennzeichung gemäß § 5 TMG
                div.bg-faded.impressum
                    p.mb-0 Therapeutische Praxis für Kinder und Jugendliche
                    p.mb-0 Berufsausübungsgemeinschaft 
                    p.mb-0 Dipl.Päd. Silvia Höfer & Ingrid Lipp M.A.
                    p.mb-0 Kinder- und Jugendlichenpsychotherapeutinnen
                    p.mb-0 <br>
                    p.mb-0 Württemberger Str. 3
                    p.mb-0 72768 Reutlingen
                    p.mb-0 Telefon: 07121-623122
                    p.mb-0 Telefax: 07121-623145
                    p.mb-0 E-Mail:  info@praxis-hoefer-lipp.de
                    p.mb-0 Internet: www.praxis-hoefer-lipp.de
                    p.mb-0 <br>
                    h2.section-heading-imp.mb-0
                        span.section-heading-upper Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV: 
                    p.mb-0 Dipl.Päd. Silvia Höfer und Ingrid Lipp M.A.
                    p.mb-0 <br>
                    h2.section-heading-imp.mb-0
                        span.section-heading-upper Umsatzsteuer-Identifikationsnummer gemäß § 27a Umsatzsteuergesetz:
                    p.mb-0 (entfällt, da nur heilkundliche Psychotherapie erbracht wird. Diese ist nach § 4 Nr. 14 Umsatzsteuergesetz von der Umsatzsteuer befreit)
                    p.mb-0 Geltungsraum der Versicherung: Deutschland
                    p.mb-0 <br>
                    h2.section-heading-imp.mb-0
                        span.section-heading-upper Gesetzliche Berufsbezeichnung:
                    p.mb-0 Dipl.Päd. Silvia Höfer
                    p.mb-0 Kinder- und Jugendlichenpsychotherapeutin, verliehen in der Bundesrepublik Deutschland 
                    p.mb-0 Ingrid Lipp M.A.
                    p.mb-0 Kinder- und Jugendlichenpsychotherapeutin, verliehen in der Bundesrepublik Deutschland
                    p.mb-0 <br>
                    h2.section-heading-imp.mb-0
                        span.section-heading-upper Maßgebliche berufsrechtliche Regelungen: 
                    p.mb-0 Gesetz über die Berufe des psychologischen Psychotherapeuten und des Kinder- und Jugendlichenpsychotherapeuten in der jeweils geltenden Fassung (PsychThG)
                    p.mb-0 Gesetz über das Berufsrecht und die Kammern der Ärzte, Zahnärzte, Tierärzte, Apotheker, Psychologischen Psychotherapeuten sowie der Kinder- und Jugendlichenpsychotherapeuten (HBKG Baden-Württemberg) in der jeweils geltenden Fassung 
                    p.mb-0 Berufsordnung für Psychologische Psychotherapeuten und Kinder- und Jugendlichenpsychotherapeuten der Landespsychotherapeutenkammer Baden-Württemberg in der jeweils geltenden Fassung 
                    p.mb-0 Texte der vorgenannten Bestimmungen sind im Buchhandel erhältlich oder auf der Homepage der Aufsichtsbehörde (z.B. abrufbar unter <a href="https://www.lpk-bw.de/" target="_blank">www.lpk-bw.de</a>)
                    p.mb-0 <br>
                    h2.section-heading-imp.mb-0
                        span.section-heading-upper Zugehörige Aufsichtsbehörde:
                    p.mb-0 Landespsychotherapeutenkammer, Jägerstr. 40, 70174 Stuttgart, <a href="https://www.lpk-bw.de/" target="_blank">www.lpk-bw.de</a>
                    p.mb-0 <br>
                    h2.section-heading-imp.mb-0
                        span.section-heading-upper Berufsrechtliche Angaben:
                    p.mb-0 Dipl.Päd. Silvia Höfer, Kinder- und Jugendlichenpsychotherapeutin
                    p.mb-0 Approbation verliehen durch:  Regierungspräsidium Stuttgart am 20.09.1999
                    p.mb-0 Kammerzugehörigkeit
                    p.mb-0 Landespsychotherapeutenkammer Baden-Württemberg
                    p.mb-0 Jägerstr. 40
                    p.mb-0 70174 Stuttgart
                    p.mb-0 <br>
                    p.mb-0 Ingrid Lipp M.A., Kinder- und Jugendlichenpsychotherapeutin
                    p.mb-0 Approbation verliehen durch: Regierungspräsidium Stuttgart am 15.04.2016
                    p.mb-0 Kammerzugehörigkeit
                    p.mb-0 Landespsychotherapeutenkammer Baden-Württemberg
                    p.mb-0 Jägerstr. 40
                    p.mb-0 70174 Stuttgart
                    p.mb-0 <br> 
                    h2.section-heading-imp.mb-0
                        span.section-heading-upper Zuständige Aufsichtsbehörde für vertragspsychotherapeutische Tätigkeiten:
                    p.mb-0 Kassenärztliche Vereinigung Baden-Württemberg
                    p.mb-0 Albstadtweg 11
                    p.mb-0 70567 Stuttgart
                    p.mb-0 <br> 
                    h2.section-heading-imp.mb-0
                        span.section-heading-upper Zuständige Aufsichtsbehörde (approbationsrechtlich) / zuständige Bezirksregierung:
                    p.mb-0 Regierungspräsidium Stuttgart 
                    p.mb-0 Ruppmannstr. 21
                    p.mb-0 70565 Stuttgart
                    p.mb-0 <br>
                    p.mb-0 Alle auf unserer Seite vorgestellten PsychotherapeutInnen haben Ihre Approbation und damit Ihre Zulassung zum Beruf des Psychotherapeuten bzw. der Psychotherapeutin durch die jeweils zuständige Landesbehörde der Bundesrepublik Deutschland verliehen bekommen (sofern nicht im Impressum oder in der Vita abweichende Angaben genannt sind). Die Informationen zu den berufsrechtlichen Regeln sowie zu den zuständigen Aufsichtsbehörden/Kammern gelten entsprechend.
                    p.mb-0 Außergerichtliche Streitschlichtung:
                    p.mb-0 Die EU-Kommission stellt eine Plattform zur Online-Streitbeilegung (OS-Plattform) verbraucherrechtlicher Streitigkeiten bereit, die aus Online-Kaufverträgen und Online-Dienstleistungsverträgen resultieren. Diese Plattform erreichen Sie im Internet unter: <a href="http://ec.europa.eu/consumers/odr/" target="_blank">http://ec.europa.eu/consumers/odr/</a>. Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen. Uns ist vielmehr daran gelegen, Streitigkeiten mit unseren Kunden im direkten Kontakt zu klären. Bitte wenden Sie sich an den Kundenservice. Wir sind erreichbar unter der folgenden E-Mail-Adresse: info@praxis-hoefer-lipp.de
                    p.mb-0 <br> 
                    h2.section-heading-imp.mb-0
                        span.section-heading-upper Haftung für Inhalte:
                    p.mb-0 Alle Angaben und Daten wurden nach bestem Wissen erstellt, es wird jedoch keine Gewähr für deren Vollständigkeit und Richtigkeit übernommen. Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.
                    p.mb-0 <br> 
                    h2.section-heading-imp.mb-0
                        span.section-heading-upper Haftung für Links:
                    p.mb-0 Unser Angebot enthält Links zu externen Websites Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Deshalb distanzieren wir uns hiermit ausdrücklich von allen Inhalten aller gelinkten Seiten. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.
                    p.mb-0 <br> 
                    h2.section-heading-imp.mb-0
                        span.section-heading-upper Urheberrecht:
                    p.mb-0 Alle in diesem Angebot veröffentlichten Beiträge sind urheberrechtlich geschützt. Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet. Angebote und Allgemeine Geschäftsbedingungen (AGB) dürfen für Bestellungen jedoch ausgedruckt werden. Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.
                    p.mb-0 <br> 
                    h2.section-heading-imp.mb-0
                        span.section-heading-upper Datenschutz:
                    p.mb-0 Unsere Datenschutzerklärung finden Sie <a href="datenschutz">hier</a>.





    