extends layout.pug

block content

    section.page-section
      .container
        .product-item
          .product-item-title.d-flex
            .bg-faded.p-5.d-flex.ml-auto.rounded
              h2.section-heading.mb-0
                span.section-heading-upper Selbstverantwortlichkeit und Wertschätzung im geschützten Rahmen
                span.section-heading-lower Therapie mit Jugendlichen und jungen Erwachsenen
          img.product-item-img.mx-auto.d-flex.rounded.img-fluid.mb-3.mb-lg-0(src='img/jugend_1.jpg' alt='')
          .product-item-description.d-flex.mr-auto
            .bg-faded.p-5.rounded
              p.mb-0 Neben jungen Erwachsenen können sich auch Jugendliche selbst zur Therapie anmelden. Ab 16 Jahren ist kein Einverständnis der Eltern mehr notwendig. Wir arbeiten in gemeinsamer Absprache am Interesse und am Bedarf des jungen Menschen entlang. Therapiematerial und Methoden orientieren sich daran, was zur Verbesserung der Befindlichkeit und Symptomatik des Hilfesuchenden beitragen kann. Hierzu steht neben dem Gespräch u.a. die Arbeit mit dem therapeutischen Sandspiel zur Verfügung. Eltern sind zu begleitenden Gesprächen willkommen, sofern die Jugendlichen einverstanden sind. Grundsätzlich ist uns die Schweigepflicht gegenüber dem jungen Menschen wichtig.
