extends layout.pug

block content

    section.page-section
      .container
        .product-item
          .product-item-title.d-flex
            .bg-faded.p-5.d-flex.ml-auto.rounded
              h2.section-heading.mb-0
                span.section-heading-upper Ab dem Sprechalter 
                span.section-heading-lower Kindertherapie
          img.product-item-img.mx-auto.d-flex.rounded.img-fluid.mb-3.mb-lg-0(src='img/kinder_1.JPG' alt='')
          .product-item-description.d-flex.mr-auto
            .bg-faded.p-5.rounded
              p.mb-0 Zur Psychotherapie können Kinder ab dem Sprechalter kommen. In unserem Spiel- und Therapiezimmer bieten wir altersgerechtes kindertherapeutisches Material. Darüber hinaus steht das therapeutische Sandspiel zur Verfügung. Wir orientieren uns an den Bedürfnissen und am Tempo der Kinder sowie an deren Aufnahme- und Konzentrationsfähigkeit. Erlerntes und Erfahrenes soll zu Hause, im Kindergarten oder in den Schulalltag übertragen werden. Hierzu werden Bezugspersonen in die Behandlung durch Beratung oder Anleitung einbezogen.

    section.page-section
      .container
        .product-item
          .product-item-title.d-flex
            .bg-faded.p-5.d-flex.ml-auto.rounded
              h2.section-heading.mb-0
                span.section-heading-upper Regelmäßige Termine 
                span.section-heading-lower Ein fester Therapietag
          img.product-item-img.mx-auto.d-flex.rounded.img-fluid.mb-3.mb-lg-0(src='img/kinder_2.jpg' alt='')
          .product-item-description.d-flex.mr-auto
            .bg-faded.p-5.rounded
              p.mb-0 Die Klienten unserer Praxis erhalten einen individuell fest vereinbarten und gleichbleibenden Termin. Sofern Sie oder Ihr Kind einmal nicht kommen können, ist es notwendig, dass Sie rechtzeitig absagen, damit die Stunde eventuell anderweitig vergeben werden kann.
