extends layout.pug

block content

    section.page-section
      .container
        .product-item
          .product-item-title.d-flex
            .bg-faded.p-5.d-flex.ml-auto.rounded
              h2.section-heading.mb-0
                span.section-heading-upper Kassenabrechnung
                span.section-heading-lower Gesetzliche Versicherung
          img.product-item-img.mx-auto.d-flex.rounded.img-fluid.mb-3.mb-lg-0(src='img/kosten_1.JPG' alt='')
          .product-item-description.d-flex.mr-auto
            .bg-faded.p-5.rounded
              p.mb-0 Wenn Sie bzw. Ihr Kind gesetzlich versichert sind, übernimmt die Krankenkasse die Kosten. Ein Antrag auf Kostenübernahme muss gestellt werden. Bei längeren Behandlungen schaltet die Kasse einen Gutachter ein, an den wir einen Bericht schreiben müssen. Zwischen Diagnostik und Behandlungsbeginn ist daher eventuell mit einer gewissen Wartezeit zu rechnen. Besteht eine Teilnahme am Hausarztvertrag, können Sie bzw. Ihr Kind sich bei uns in den Facharztvertrag Psychotherapie einschreiben. Dann ist kein besonderes Antragsverfahren notwendig. Die Behandlung kann sofort beginnen.


    section.page-section
      .container
        .product-item
            .product-item-title.d-flex
                .bg-faded.p-5.d-flex.mr-auto.rounded
                    h2.section-heading.mb-0
                        span.section-heading-upper Privatpatienten
                        span.section-heading-lower Private Versicherung und Beihilfe 
            img.product-item-img.mx-auto.d-flex.rounded.img-fluid.mb-3.mb-lg-0(src='img/kosten_2.JPG', alt='')
            div.product-item-description.d-flex.ml-auto
                div.bg-faded.p-5.rounded
                    p.mb-0 Sind Sie oder ihr Kind privat versichert, müssen Sie abklären, ob Ihre Versicherung die Kosten bei uns als Kinder- und Jugendlichenpsychotherapeutinnen übernimmt. Danach fordern Sie die Antragsunterlagen an und lassen uns diese zukommen. Die Anzahl der möglichen Behandlungsstunden kann je nach Kassenvertrag und Gutachtervotum variieren. Wenn Sie bzw. ihr Kind über die Beihilfe versichert sind, müssen Sie dort die Unterlagen für die Antragsstellung anfordern und uns zukommen lassen. Die Beihilfe möchte bei längeren Behandlungen von uns einen Bericht für den Gutachter haben. Mit einer gewissen Wartezeit zwischen Diagnostik und Behandlungsbeginn ist zu rechnen. Die Rechnungsstellung für Privatversicherte und Beihilfeversicherte erfolgt in der Regel quartalsweise mit Zahlungsziel 4 Wochen.

