extends layout.pug

block content

    section.page-section
      .container
        .product-item
          .product-item-title.d-flex
            .bg-faded.p-5.d-flex.ml-auto.rounded
              h2.section-heading.mb-0
                span.section-heading-upper Regelmäßige Termine und Kassenabrechnung
                span.section-heading-lower Gesetzliche Versicherung
          img.product-item-img.mx-auto.d-flex.rounded.img-fluid.mb-3.mb-lg-0(src='img/kosten_11.jpg' alt='')
          .product-item-description.d-flex.mr-auto
            .bg-faded.p-5.rounded
              p.mb-0 Wenn Sie bzw. Ihr Kind gesetzlich versichert sind, übernimmt die Krankenkasse die Kosten, ein Antrag auf Kostenübernahme muss gestellt werden. Bei längeren Behandlungen schaltet die Kasse einen Gutachter ein, an den wir einen Bericht schreiben müssen. Zwischen Diagnostik und Behandlungsbeginn ist eventuell mit einer gewissen Wartezeit zu rechnen. Besteht eine Teilnahme am Hausarztvertrag, können Sie bzw. Ihr Kind sich bei uns in den Facharztvertrag Psychotherapie einschreiben. Dann ist kein besonderes Antragsverfahren notwendig. Die Behandlung kann sofort beginnen.


    section.page-section
      .container
        .product-item
            .product-item-title.d-flex
                .bg-faded.p-5.d-flex.mr-auto.rounded
                    h2.section-heading.mb-0
                        span.section-heading-upper Fehlender Text?
                        span.section-heading-lower PrivateVersicherung und Versicherung über die Beihilfe 
            img.product-item-img.mx-auto.d-flex.rounded.img-fluid.mb-3.mb-lg-0(src='img/kosten_21.jpg', alt='')
            div.product-item-description.d-flex.ml-auto
                div.bg-faded.p-5.rounded
                    p.mb-0 Wenn Sie bzw. ihr Kind über die Beihilfe versichert sind, müssen Sie dort die Unterlagen für die Antragsstellung anfordern und uns zukommen lassen. Auch die Beihilfe möchte teils einen Bericht für einen Gutachter haben. Mit einer gewissen Wartezeit zwischen Diagnostik und Behandlungsbeginn ist zu rechnen.<br>Sind Sie oder ihr Kind privat versichert, müssen Sie abklären, ob Ihre Versicherung die Kosten bei uns als Kinder- und Jugendlichenpsychotherapeutinnen übernimmt. Danach fordern Sie die Antragsunterlagen an und lassen uns diese zukommen. Die Anzahl der möglichen Behandlungsstunden kann je nach Kassenvertrag und Gutachtervotum variieren.<br>Die Rechnungsstellung für Privatversicherte und Beihilfeversicherte erfolgt in der Regel quartalsweise mit Zahlungsziel 4 Wochen.


    section.page-section
        .container
            .product-item
                .product-item-title.d-flex
                    .bg-faded.p-5.d-flex.ml-auto.rounded
                        h2.section-heading.mb-0
                            span.section-heading-upper Fehlender Text?
                            span.section-heading-lower Fehlender Text?
                img.product-item-img.mx-auto.d-flex.rounded.img-fluid.mb-3.mb-lg-0(src='img/kosten_31.jpg' alt='')
                .product-item-description.d-flex.mr-auto
                    .bg-faded.p-5.rounded
                        p.mb-0 Die Klienten unserer Praxis erhalten einen individuell fest vereinbarten und gleichbleibenden Termin, der sich nach den Schul- bzw. Ausbildungszeiten richtet. Sofern Sie oder Ihr Kind einmal nicht kommen können, ist es notwendig, dass Sie rechtzeitig absagen, damit die Stunde eventuell anderweitig vergeben werden kann.