extends layout.pug

block content

    section.page-section.clearfix
      div.container
        div.intro
          img.intro-img.intro-img-right.img-fluid.mb-3.mb-lg-0.rounded(src='img/lipp.jpg', alt='Ingrid Lipp')
          div.intro-text.intro-text-left.left-0.text-center.bg-faded.p-5.rounded
            h2.section-heading.mb-4
              span.section-heading-upper M.A. (Pädagogik)
              span.section-heading-upper Kinder- und Jugendlichenpsychotherapeutin
              span.section-heading-lower Ingrid Lipp
            p Ausbildung in Verhaltenstherapie.<br>Spezifische Weiterbildung in kognitiver Traumatherapie und hypnosystemischer Arbeit mit Kindern und Jugendlichen.<br>Berufserfahrung in der Kinder– und Jugendpsychiatrie.
            p.mb-0 Selbstständige Tätigkeit im Bereich Coaching und Führungskräfteentwicklung.
            div.intro-button.mx-auto
              a.btn.btn-primary.btn-xl(href='mailto:i.lipp@praxis-hoefer-lipp.de') Kontakt
