extends layout.pug

block content

    section.page-section
      .container
        .product-item
          .product-item-title.d-flex
            .bg-faded.p-5.d-flex.ml-auto.rounded
              h2.section-heading.mb-0
                span.section-heading-upper Der Weg zur Psychotherapie 
                span.section-heading-lower Psychotherapeutische Sprechstunde
          img.product-item-img.mx-auto.d-flex.rounded.img-fluid.mb-3.mb-lg-0(src='img/sprechstunde_1.JPG' alt='Ein Stuhlkreis in einem hell belichteten Raum')
          .product-item-description.d-flex.mr-auto
            .bg-faded.p-5.rounded
              p.mb-0 Als psychotherapeutische Praxis sind wir verpflichtet vor Therapiebeginn therapeutische Sprechstunden anzubieten. Hierfür muss ein Termin vereinbart werden. In der Sprechstunde klären wir mit Ihnen zusammen ob eine Psychotherapie notwendig ist. Wann eine Therapie beginnen kann, hängt von der aktuellen Belegungssituation der Praxis ab. Wir freuen uns auf ihre Anfrage.