extends layout.pug

block content

    section.page-section
      .container
        .product-item
          .product-item-title.d-flex
            .bg-faded.p-5.d-flex.ml-auto.rounded
              h2.section-heading.mb-0
                span.section-heading-upper Der Weg zur Psychotherapie 
                span.section-heading-lower Psychotherapeutische Sprechstunde
          img.product-item-img.mx-auto.d-flex.rounded.img-fluid.mb-3.mb-lg-0(src='img/sprechstunde_1.jpg' alt='')
          .product-item-description.d-flex.mr-auto
            .bg-faded.p-5.rounded
              p.mb-0 Vor jeder Behandlung muss die Inanspruchnahme von mindestens einer psychotherapeutischen Sprechstunde nachgewiesen werden. Da hierfür ein Termin vereinbart werden muss, ist mit Wartezeiten zu rechnen. Sie können auch versuchen, über die Terminservicestellen der Kassenärztlichen Vereinigung einen Sprechstundentermin bei anderen Kolleg*innen zu bekommen. Ein Behandlungsplatz kann mit der Inanspruchnahme einer psychotherapeutischen Sprechstunde aufgrund der hohen Auslastung jedoch nicht automatisch zur Verfügung gestellt werden.
