body {
    font-family: 'Century Gothic';
    background: url("../img/bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway' !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}


img {
    max-width: 100%;
}

p {
    line-height: 1.75;
    max-width: 700px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

span {
    max-width:700px;
}

.footerrow {
    max-width:1500px;
}

.praxisheader {
    font-size: 2.5rem !important;
}

.footimpr {
    color: whitesmoke !important;
    font-size: 0.8125rem;
}

.praxisueber {
    max-width: 1000px !important;
}

.praxisname {
    font-size: 4.3125rem !important;
    font-weight:100 !important;
    white-space: nowrap;
}

.text-faded {
  color: rgba(255, 255, 255, 0.3);
}

.site-heading {
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1;
    font-family: 'Raleway' !important;
}

.impressum {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 70px;
}

.site-heading .site-heading-upper {
  display: block;
  font-size: 2rem;
  font-weight: 800;
}

.site-heading .site-heading-lower {
  font-size: 5rem;
  font-weight: 100;
  line-height: 4rem;
  color: black;
}

.page-section {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.section-heading {
  text-transform: uppercase;
}

.section-heading-imp {
    text-transform: uppercase;
    display: block;
    font-size: 1rem;
    font-weight: 600;
}

.section-heading .section-heading-upper {
  display: block;
  font-size: 1.5rem;
  font-weight: 800;
}

.section-heading .section-heading-lower {
  display: block;
  font-size: 3rem;
  font-weight: 150;
  color: black;
}

.bg-faded {
  background-color: rgba(215, 215, 215, 0.85);
}

#mainNav {
    background-color: rgba(212, 49, 0, 0.8);
    font-family: 'Raleway' !important;
    padding-bottom: 10px;
    padding-top: 10px;
}

#mainFoot {
    background-color: rgba(212, 49, 0, 0.8);
    font-family: 'Raleway' !important;
   
}

.resfont {
    color: rgba(255, 255, 255, 0.85);
    font-weight: 800;
}

#mainNav .navbar-brand {
  color: #e6a756;
}

#mainNav .navbar-nav .nav-item .nav-link {
  color: rgba(255, 255, 255, 0.85);
  font-weight: 800;
}

#mainNav .navbar-nav .nav-item.active .nav-link {
  color: #e6a756;
}

@media (min-width: 992px) {
  #mainNav .navbar-nav .nav-item .nav-link {
    font-size: 1.1rem;
  }
  #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: rgba(255, 255, 255, 0.4);
  }
  #mainNav .navbar-nav .nav-item.active .nav-link:hover {
    color: #e6a756;
  }
}

.btn-xl {
  font-weight: 700;
  font-size: 0.8rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.intro {
  position: relative;
}


@media (min-width: 992px) {
  .intro .intro-img {
    width: 75%;
  }
  .intro-img-right{
    float: right;
  }
  .intro-img-left{
    float: left;
  }

  .intro .intro-text {
    width: 60%;
    margin-top: 3rem;
    position: absolute;
  }

  .intro-text-left{
    left: 0;
  }

  .intro-text-right{
    right: 0;
  }

  .intro .intro-text .intro-button {
    width: 100%;
    left: 0;
    position: absolute;
    bottom: -2rem;
  }
}

@media (min-width: 1200px) {
  .intro .intro-text {
    width: 50%;
  }
}

.cta {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: rgba(255, 211, 20, 0.4);
}

.cta .cta-inner {
  position: relative;
  padding: 3rem;
  margin: 0.5rem;
  background-color: rgba(255, 255, 255, 0.85);
}

.cta .cta-inner:before {
  border-radius: 0.5rem;
  content: '';
  position: absolute;
  top: -0.5rem;
  bottom: -0.5rem;
  left: -0.5rem;
  right: -0.5rem;
  border: 0.25rem solid rgba(255, 255, 255, 0.85);
}

@media (min-width: 992px) {
  .about-heading .about-heading-img {
    position: relative;
    z-index: 0;
  }
  .about-heading .about-heading-content {
    margin-top: -5rem;
    position: relative;
    z-index: 1;
  }
}

@media (min-width: 992px) {
  .product-item .product-item-title {
    position: relative;
    z-index: 1;
    margin-bottom: -2rem;
  }
  .product-item .product-item-img {
    
    z-index: 0;
    
  }
    .product-item .product-item-description {
        position: relative;
        z-index: 1;
        margin-top: -2rem;
        font-size: large;
        font-weight: 500 !important;
    }
}

.list-hours {
  font-size: 0.9rem;
}

.list-hours .list-hours-item {
  border-bottom: 1px solid rgba(230, 167, 86, 0.5);
  padding-bottom: .25rem;
  margin-bottom: 1rem;
  font-style: italic;
}

.list-hours .list-hours-item.today {
  font-weight: bold;
  color: #e6a756;
}

@media (min-width: 992px) {
  .list-hours {
    width: 50%;
    font-size: 1.1rem;
  }
}

.address strong {
  font-size: 1.2rem;
}

.footer {
    background-color: rgba(255, 255, 255, 0.85);
    margin-top: 120px !important;
}

.text-primary {
    color: #707070 !important;
}

.bg-primary {
  background-color: #e6a756 !important;
}

.btn {
  -webkit-box-shadow: 0px 3px 3px 0px rgba(33, 37, 41, 0.1);
  box-shadow: 0px 3px 3px 0px rgba(33, 37, 41, 0.1);
}

.btn-primary {
    background-color: rgba(212, 49, 0, 0.8);
    border-color: rgba(212, 49, 0, 0.8);
}

    .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
        background-color: rgba(212, 49, 0, 0.7);
        border-color: rgba(212, 49, 0, 0.7);
    }

.font-weight-light {
  font-weight: 100 !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='w3.org/2000/svg'%3E%3Cpath stroke='rgba(245,245,245, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* XSmall devices (phones, 240px and up) */
@media (min-width: 240px) {
    html {
        font-size: 7px;
    }

    .product-item .product-item-description {
        font-size: 12px;
    }

    .anfahrtfont {
        font-size: 12px;
    }

    p {
        font-size: 12px;
    }
    .btn {
        font-size: 11px;
    }

}

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {
    html {
        font-size: 8px;
    }

    .product-item .product-item-description {
        font-size: 13px;
    }

    .anfahrtfont {
        font-size: 13px;
    }

    p {
        font-size: 13px;
    }
    .btn {
        font-size: 12px;
    }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    html {
        font-size: 10px;
    }

    .product-item .product-item-description {
        font-size: 13px;
    }

    .anfahrtfont {
        font-size: 13px;
    }

    p {
        font-size: 13px;
    }
    .btn {
        font-size: 12px;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    html {
        font-size: 12px;
    }
    
    .product-item .product-item-description {
        font-size: 13px;
    }

    .anfahrtfont {
        font-size: 13px;
    }

    p {
        font-size:13px;
    }
    .btn {
        font-size: 12px;
    }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    html {
        font-size: 15px;
    }
    
    .product-item .product-item-description {
        font-size: 16px;
    }

    .anfahrtfont {
        font-size: 16px;
    }
    
    p {
        font-size: 16px;
    }
    
    .btn {
        font-size: 15px;
    }

}